<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CountIt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>


    <form method="POST">
        Password: <input type="password" name="pwd"><br><br>
        <button class="button" name="enter" >Enter</button>
        {% if wrong_password %}
            <small class="wrong"> Wrong password </small>
        {% endif %}
    </form>

</body>
</html>
